      
.container{
    margin: 0 auto;
    height: 80%;
    width: 100%;
    position: fixed;
    transform: translateY(120%);
    background-color: rgb(239, 237, 237);
    overflow: hidden;
    z-index: 3;
    border-radius: 15px 15px 0 0;
    transition: 0.3s;
    
}

.container .top{
    width: calc(100% - 30px);
    margin-left: 30px;
    height: 20%;
    background-color: rgb(239, 237, 237);
    border-radius: 0 0 0 20px;
    transition: 0.2s;
}

.container .bottom{
    width: calc(100% - 30px);
    height: 100%;
    margin-left: 30px;
    background-color: rgb(239, 237, 237);
    border-radius: 20px 0 0 0;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    height: 80px;
    z-index: 3;
    position: fixed;

    background-color: rgb(239, 237, 237);
    overflow: hidden;

    border-radius: 15px 15px 15px 15px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transition: 0.3s;
}


.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 200px;
height: 250px;
overflow-y: scroll;
left:0;
right: 0;

}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}

.colbutton{
    background: transparent;
    height: 70px;
    padding: 5px;
    position: relative;
    width: 70px;
    border: none;
    margin: 0 auto;
}

.colbutton:focus{outline: none;}

.cardbutton{
    background: transparent;
    height: 162px;
    padding: 0;
    margin: 5px;
    position: relative;
    width: 95px;
    border: none;
}
.cardbutton:focus{outline: none;}

.precardbutton{
    background: transparent;
    height: 85px;
    padding: 0;
    margin: 5px;
    position: relative;
    width: 50px;
    border: none;
}
.precardbutton:focus{outline: none;}

