<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Decks of Genshin Impact</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    
    <body>
        <h1>Build your own deck!</h1>
        <img th:src="@{/image/Achievement_Invoker.png}"/>

        <form method="POST" th:object="${deck}">
            <div class="grid">
                <div class="card-group" id="characters">
                    <h3>Pick your characters:</h3>
                    <div th:each="card : ${character}">
                        <input name="cards" type="checkbox" th:value="${card.id}" />
                        <span th:text="${card.cardName}">CHARACTER</span><br/>
                    </div>
                </div>

                <div class="card-group" id="weapons">
                    <h3>Choose your weapons:</h3>
                    <div th:each="card : ${weapon}">
                        <input name="cards" type="checkbox" th:value="${card.id}"/>
                        <span th:text="${card.cardName}">WEAPON</span><br/>
                    </div>
                </div>
                <div class="card-group" id="talents">
                    <h3>Determine your talents:</h3>
                    <div th:each="card : ${talent}">
                        <input name="cards" type="checkbox" th:value="${card.id}"/>
                        <span th:text="${card.cardName}">TALENT</span><br/>
                    </div>
                </div>
            </div>

            <div>
                <h3>Name your deck:</h3>
                <input type="text" th:field="*{name}"/><br/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
                <h3>whatever number you like:(id)</h3>
                <input type="text" th:field="*{id}"/><br/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('id')}"
                      th:errors="*{id}">ID Error</span>
                <button>Submit your deck</button>
            </div>
        </form>
    </body>
</html>