<!DOCTYPE html>
<html xmlns:th="http:/ /www.thymeleaf.org">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/mystyle.css">
    <script type="text/javascript" src="/cardScript.js"></script>
    <script type="text/javascript" src="/commonScript.js"></script>
    </head>

    <body>
        <div style="margin-bottom:0;">
            <div>
                <div><h3 style="float: left;">Deck of Genshin</h3></div>
                <div style="float: right;padding-top:3px;" >  
                    <button style="height:30px;width:30px;border:none;" id="import" >I</button>
                    <button style="height:30px;width:30px;border:none;" id="export" onclick="addExportBox()">E</button>
                </div>
            </div>
        </div>

        <div id = 'deckCodeBox'><input type="text" id = "deckCode" value=""></div>
        
        <HR style=" width: 100%; border: 0; height: 1px; background: rgb(253, 253, 253);opacity: 0.2;">
        

        <div>
            <div class="row" id="row">
           
                <button class="colbutton" id="colbutton1" onclick="deleteCharaToDeck('colbutton1')">
                    <img th:src="@{/image/empty_chara.png}" id="empty" width=70 height=70/>
                </button>   
                <button class="colbutton" id="colbutton2" onclick="deleteCharaToDeck('colbutton2')">
                    <img th:src="@{/image/empty_chara.png}" id="empty" width=70 height=70/>
                </button>
                <button class="colbutton" id="colbutton3" onclick="deleteCharaToDeck('colbutton3')">
                    <img th:src="@{/image/empty_chara.png}" id="empty" width=70 height=70/>
                </button>

                <button class="colbutton" style="margin-top:5px;" id="unfold" onclick="unfoldContainer()">
                    <img th:src="@{/image/arrow.png}" id="arrow" width=35 height=35/>
                </button>
            </div>
            
            <div class="container" id="container" style="width: 100%;">
                
                <div class="myBox" id="selectedCards" style="height: 600px; width: 100%; z-index: 0; white-space: pre-line; ">
                    <table>
                        <tbody id="cardList">
                        <!--    <tr th:each="card,iterStat : ${cards}">
                            <button class="cardbutton" th:attr="onclick=|addCharaToDeck('${card.id}')|">
                                <img th:src="'/image/card/'+${card.type}+ '/' + ${card.subType} + '/' + ${card.id} + '.png'" width=84 height=144 />
                            </button>
                        </tr>
                           -->
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>  

        <div class="myBox" id="cards" style="height: 600px; width: 100%; z-index:0; white-space: pre-line; ">
            <table>
                <tbody>
                    <tr th:each="card,iterStat : ${cards}">
                    <button class="cardbutton" th:attr="onclick=|addCardToDeck('${card.id}','${card.codeName}','${card.type}','${card.subType}')|">
                        <img th:src="'/image/card/'+${card.type}+ '/' + ${card.subType} + '/' + ${card.id} + '.png'" width=84 height=144 />
                    </button>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
 </html>

